[user]
	name = Shaunak Kashyap
	email = ycombinator@gmail.com
[alias]
  pr = "!f() { git checkout -q master; git branch -Dq pr/$1; git fetch upstream pull/$1/head:pr/$1 && git checkout -q pr/$1; }; f"
  up = "!f() { git checkout $1 && git pull --rebase upstream $1; };f "
  new = "!f() { git up master && git checkout -b $1; }; f"